{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div style="padding-left: 1em; width:1000px">
<h2>Contributors to DTOP-Cristallo</h2>
<p> 
    The creation of this platform has been possible thanks to the contributions of many. 
    In alphabetical order: <br>
    <ul>
        <li>Luis Andrade Acosta</li>
        <li>Sandor Beregi</li>
        <li>Matthew Bonney</li>
        <li>Mattia Dal Borgo</li>
        <li><a style="color: #4d4dff;" href='https://github.com/marcodeangelis'>Marco De Angelis</a></li>
        <li>Nidhal Jamia</li>
        <li><a style="color: #4d4dff;" href='https://github.com/davidjwagg'></a>David Wagg</a></li>
        <li>Yichen Zhu</li>
      </ul> 
</p>
<h2>Acknowledgments</h2>
<p>This work was supported by the DigiTwin project, please see the <a href="http://digitwin.ac.uk//">DigiTwin website</a> for further details.</p>
</div>

{% endblock %}