{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
<meta charset="UTF-8">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script type="text/javascript"
  async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

{% endblock %}
{% block content %}

{% for message in get_flashed_messages() %}
	<p>({message})</p>
{% endfor %}

<h2><button onclick="myFunction()">+</button> Demo of control-based continuation (CBC) of steady-state solutions in nonlinear structures</h2>

<div id="hideshow" style="display: none">
This page demonstrates control-based continuation (CBC) of periodic oscillations in nonlinear dynamical systems [<a href="https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.100.244101">1</a>, <a href="https://link.springer.com/article/10.1007/s11071-021-06347-w">2</a>] on the use-case of the 3 degrees-of-freedom (DoF) model of the 3 storey building, subject to periodic forcing. The nonlinearity is added to the, otherwise linear, model by considering a nonlinear stiffness at the legs of the 1st storey.
<br>
<br>
The page features 3 simulation modes:<br>
<ul>
<li><b>Frequency-sweep (open-loop): </b>
The stable periodic solutions are traced as the forcing frequency is increased/decreased.</li>
<li><b>Amplitude-sweep (open-loop): </b>
The stable periodic solutions are traced as the forcing amplitude is increased/decreased.</li>
<li><b>Control-based continuation in amplitude: </b>
The periodic solutions are traced following the (typically) S-shaped solution-branch with the forcing frequency is as bifurcation parameter. By applying a non-invasive control stategy, both stable and unstable solutions can be captured.</li>
</ul>
<br>
During the simulation the amplitue of the first storey's displacement (A_x1) is plotted, but the amplitudes of the other storeys are stored, too. These can be accessed by pressing <b>Download results</b>.
<br>
<h3>Recommended use of the page</h3>
<ul>
<li>Submit the parameters of the structure.</li>
<li>Press “Frequency sweep” to perform an open-loop sweep in the forcing frequency. Observe where the bistable frequency domains (parameter regions with two coexisting stable solutions) appear. In an open-loop simulation/experiment these form hysteresis-loops as the forcing frequency is first increased then decreased. It is worth to select a forcing frequency for the amplitude sweeps from one of these domains.</li>
<li>Press “Amplitude sweep” to perform an open-loop sweep in the forcing amplitude. The sudden jumps in the vibration amplitude mark the (approximate) boundaries of the bistable parameter-range.</li>
<li>Press “CBC” to trace the full S-shaped branch of periodic orbits, including stable and unstable solutions in the system.</li>
</ul>
Note: The algorithm is only tested for the default parameter-set. In principle, this should not affect the open-loop test modes although it is not guaranteed that the ‘interesting’ parameter ranges will be surveyed. However, the pre-set control gains (<i>k</i><sub>p</sub>, <i>k</i><sub>d</sub>) of the CBC algorithm may not work for other sets of parameters. Nevertheless, one can expect the algorithm to work with minor deviations from the default parameters. It is also possible to change the parameters of the algorithms. In general, waiting less for the transients to settle makes the simulation faster (the page will be more responsive) but less accurate. Increasing the error tolerance for CBC also has a similar effect.

<h3>References</h3>

<ol>
<li>Sieber, J., Gonzalez-Buelga, A., Neild, S. A., Wagg, D. J., and Krauskopf, B., Experimental continuation of periodic orbits through a fold. <i>Phys. Rev. Lett.</i> <b>100</b>, 244101 (2008) <a href="https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.100.244101">link</a></li>
<li>Beregi, S., Barton, D.A.W., Rezgui, D., and Neild, S. A., Robustness of nonlinear parameter identification in the presence of process noise using control-based continuation. <br> <i>Nonlinear Dyn (2021).</i> https://doi.org/10.1007/s11071-021-06347-w <a href="https://link.springer.com/article/10.1007/s11071-021-06347-w">link</a></li>
</ol>
</div>

 <h3>Mass-spring-damper model of the three-storey structure with a nonlinear stiffness</h3>

<br>

<table style="width:90%">
<tr>
<td>
<img src="{{ url_for('static', filename='img/cbc_model.png') }}"
</td>
<td style="width:80%">
<table style="width:80%">
  <tr>
    <th align="left">Parameter(s)</th>
    <th align="left">Name</th> 
    <th align="left">Default value</th>
  </tr>
  <tr>
    <td>m<sub>1</sub>, m<sub>2</sub>, m<sub>3</sub></td>
    <td>Masses</td>
    <td>0.2 kg</td>
  </tr>
  <tr>
    <td>s<sub>1</sub>, s<sub>2</sub>, s<sub>3</sub></td>
    <td>Stiffnesses</td>
    <td>200.0 N/m</td>
  </tr>
  <tr>
    <td>b<sub>1</sub>, b<sub>2</sub>, b<sub>3</sub></td>
    <td>Viscous damping</td>
    <td>200.0 Ns/m</td>
  </tr>
  <tr>
    <td>s<sub>13</sub></td>
    <td>Nonlinear stiffness</td>
    <td>200.0 N/m<sup>3</sup></td>
  </tr>
<tr>
    <td>F<sub>0</sub></td>
    <td>Forcing amplitude</td>
    <td>10.0 N</td>
    <td>*at the freequency sweep</td>
  </tr>
<tr>
    <td>ω<sub>0</sub></td>
    <td>Forcing angular frequency</td>
    <td>16.0 1/s</td>
    <td>*at the amplitude sweep and CBC</td>
  </tr>
</table>
</td>
</tr>
</table>

<form action="/par_submit" method="POST">
  <fieldset>
    <legend>Masses</legend>
    <table>
      <tr>
          <td>m1</td>
          <td><input type="number" id="m1" name="m1" value="0.2" step="0.1"></td>
          <td><output name="m1" for="m1">{{m1}}</output></td>
          <td>[kg]</td>
      </tr>
      <tr>
        <td>m2</td>
        <td><input type="number" id="m2" name="m2" value="0.2" step="0.1"></td>
        <td><output name="m2" for="m2">{{m2}}</output></td>
        <td>[kg]</td>
    </tr>
    <tr>
      <td>m3</td>
      <td><input type="number" id="m3" name="m3" value="0.2" step="0.1"></td>
      <td><output name="m3" for="m3">{{m3}}</output></td>
      <td>[kg]</td>
  </tr>
  </table>
  </fieldset>
  <fieldset>
    <legend>Stiffnesses</legend>
    <table>
      <tr>
          <td>s1</td>
          <td><input type="number" id="s1" name="s1" value="200.0" step="0.1"></td>
          <td><output name="s1" for="s1">{{s1}}</output></td>
          <td>[N/m]</td>
      </tr>
      <tr>
        <td>s2</td>
        <td><input type="number" id="s2" name="s2" value="200.0" step="0.1"></td>
        <td><output name="s2" for="s2">{{s2}}</output></td>
        <td>[N/m]</td>
    </tr>
    <tr>
      <td>s3</td>
      <td><input type="number" id="s3" name="s3" value="200.0" step="0.1"></td>
      <td><output name="s3" for="s3">{{s3}}</output></td>
      <td>[N/m]</td>
  </tr>
  </table>
  </fieldset>
  <fieldset>
    <legend>Dampers</legend>
    <table>
      <tr>
          <td>b1</td>
          <td><input type="number" id="b1" name="b1" value="0.1" step="0.1"></td>
          <td><output name="b1" for="b1">{{b1}}</output></td>
          <td>[Ns/m]</td>
      </tr>
      <tr>
        <td>b2</td>
        <td><input type="number" id="b2" name="b2" value="0.1" step="0.1"></td>
        <td><output name="b2" for="b2">{{b2}}</output></td>
        <td>[Ns/m]</td>
    </tr>
    <tr>
      <td>b3</td>
      <td><input type="number" id="b3" name="b3" value="0.1" step="0.1"></td>
      <td><output name="b3" for="b3">{{b3}}</output></td>
      <td>[Ns/m]</td>
  </tr>
  </table>
  </fieldset>
  <fieldset>
    <legend>Nonlinear stiffness</legend>
    <table>
      <tr>
          <td>s13</td>
          <td><input type="number" id="s13" name="s13" value="200.0" step="0.1"></td>
          <td><output name="s13" for="s13">{{s13}}</output></td>
          <td>[Ns/m]</td>
      </tr>
    </table>
  </fieldset>
  <fieldset>
    <legend>Forcing amplitude</legend>
    <table>
      <tr>
          <td>F<sub>0</sub></td>
          <td><input type="number" id="F0" name="F0" value="10.0" step="0.1"></td>
          <td><output name="F0" for="F0">{{F0}}</output></td>
          <td>[N]</td>
      </tr>
    </table>
  </fieldset>
  <fieldset>
    <legend>Forcing angular frequency</legend>
    <table>
      <tr>
          <td>ω<sub>0</sub></td>
          <td><input type="number" id="om0" name="om0" value="16.0" step="0.1"></td>
          <td><output name="om0" for="om0">{{om0}}</output></td>
          <td>[1/s]</td>
      </tr>
    </table>
  </fieldset>
  <fieldset>
    <legend>Control gains</legend>
    <table>
      <tr>
          <td>kp</td>
          <td><input type="number" id="kp" name="kp" step=0.1 value="-120.0"></td>
          <td><output name="kp" for="kp">{{kp}}</output></td>
          <td>[-]</td>
      </tr>
      <tr>
        <td>kd</td>
        <td><input type="number" id="kd" name="kd" step=0.1 value="-25.0"></td>
        <td><output name="kd" for="kd">{{kd}}</output></td>
        <td>[-]</td>
    </tr>
    </table>
  </fieldset>
  <fieldset>
    <legend>Algorithm parameters</legend>
    <table>
      <tr>
        <td>ω<sub>0</sub> min</td>
          <td><input type="number" id="om_min" name="om_min" step=1 value="1.0"></td>
          <td><output name="om_min" for="om_min">{{om_min}}</output></td>
          <td>Minimum forcing frequency</td>
      </tr>
      <tr>
        <td>ω<sub>0</sub> max</td>
        <td><input type="number" id="om_max" name="om_max" step=1 value="50.0"></td>
        <td><output name="om_max" for="om_max">{{om_max}}</output></td>
        <td>Maximum forcing frequency</td>
      </tr>
      <tr>
        <td>F<sub>0</sub> min</td>
        <td><input type="number" id="F_min" name="F_min" step=1 value="1.0"></td>
        <td><output name="F_min" for="F_min">{{F_min}}</output></td>
        <td>Minimum forcing amplitude</td>
      </tr>
      <tr>
        <td>F<sub>0</sub> max</td>
        <td><input type="number" id="F_max" name="F_max" step=1 value="80.0"></td>
        <td><output name="F_max" for="F_max">{{F_max}}</output></td>
        <td>Maximum forcing amplitude</td>
      </tr>
      <tr>
        <td>A_x1 max</td>
        <td><input type="number" id="A_max" name="A_max" step=0.01 value="0.945"></td>
        <td><output name="A_max" for="A_max">{{A_max}}</output></td>
        <td>Maximum target vibration amplitude in CBC</td>
      </tr>
      <tr>
          <td>fsw_per</td>
          <td><input type="number" id="fsw_per" name="fsw_per" step=1 value="10" oninput="this.value = Math.round(this.value);"></td>
          <td><output name="fsw_per" for="fsw_per">{{fsw_per}}</output></td>
          <td>Number of periods to wait for the transients to decay during the frequency sweep. (!) Must be an integer</td>
      </tr>
      <tr>
        <td>asw_per</td>
          <td><input type="number" id="asw_per" name="asw_per" step=1 value="40" oninput="this.value = Math.round(this.value);"></td>
          <td><output name="asw_per" for="asw_per">{{asw_per}}</output></td>
          <td>Number of periods to wait for the transients to decay during the amplitude sweep. (!) Must be an integer</td>
      </tr>
      <tr>
        <td>cbc_per</td>
          <td><input type="number" id="cbc_per" name="cbc_per" step=1 value="20" oninput="this.value = Math.round(this.value);"></td>
          <td><output name="cbc_per" for="cbc_per">{{cbc_per}}</output></td>
          <td>Number of periods to wait for the transients to decay during CBC. (!) Must be an integer</td>
      </tr>
      <tr>
        <td>cbc_maxiter</td>
          <td><input type="number" id="cbc_maxiter" name="cbc_maxiter" step=1 value="10" oninput="this.value = Math.round(this.value);"></td>
          <td><output name="cbc_maxiter" for="cbc_maxiter">{{cbc_maxiter}}</output></td>
          <td>Max. number of iterations during CBC. (!) Must be an integer</td>
      </tr>
      <tr>
        <td>cbc_etol</td>
          <td><input type="number" id="cbc_etol" name="cbc_etol" step=1e-3 value=1e-3></td>
          <td><output name="cbc_etol" for="cbc_etol">{{cbc_etol}}</output></td>
          <td>Error tolerance during CBC</td>
      </tr>
    </table>
  </fieldset>
  <!-- <fieldset>
    <legend>Data saving options</legend>
    <table>
      <tr>
          <td>Save x_2 amplitude</td>
          <td><input type="checkbox" id="x2save" name="x2save"></td>
      </tr>
      <tr>
        <td>Save x_3 amplitude</td>
          <td><input type="checkbox" id="x3save" name="x3save"></td>
      </tr>
    </table>
  </fieldset> -->
  <br>
  <input type="submit" value="Submit parameters">
</form>

<div class="container" style="width:80%">
    <div class="row">
        <div class="col-md-6">
            <div class="chart" id="timehist">
                <script>
                    var graphs = {{ plot | safe}};
                    Plotly.plot('timehist', graphs, {});
                </script>
            </div>
        </div>
    </div>
</div>

<!-- <form method="POST" action="/bristolcbc_update">

	<div>

	<input type="submit" name="Frequency sweep" value="Frequency sweep">
	<input type="submit" name="Amplitude sweep" value="Amplitude sweep">
	<input type="submit" name="CBC in amplitude" value="CBC in amplitude">
	
	</div>

</form> -->

<button id="fsw" disabled>Frequency sweep</button>
<button id="asw" disabled>Amplitude sweep</button>
<button id="cbc" disabled>CBC in amplitude</button>
<br>
<br>

<a href="/download" target="blank"><button disabled>Download results</button></a>

<button id="rs" disabled>Back to start</button>
<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bristolcbc.js') }}"></script>

{% block javascript %}
<script type="text/javascript" charset="utf-8">

    function myFunction() {
    var x = document.getElementById("hideshow");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
    }
</script>
{% endblock %}
{% endblock %}
