{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"></script>


<!-- <h2><button onclick="myFunction()" style="margin: 10px;">+</button>Hammer test simulator </h2> -->
<h2 style="padding-left: 15px;">Hammer test simulator </h2>

<form action="/simulator" method="POST" id="form">
    <div class="onepagecontainer">
    <table style="padding-left: 20px; padding-bottom: 20px;">
        <!-- Determine Excitiation -->
        <tr>
            <td style="padding-left:15px; padding-bottom: 10px;">Excitation: </td>
            <td style="padding-left:15px; padding-bottom: 10px;"><label for="Ex_h">Impact Hammer</label> </td>
            <td style="padding-left:15px; padding-bottom: 10px;"><input type="radio" value="Hammer" id="Ex_h" name="Excite"></td>
            <td style="padding-left:15px; padding-bottom: 10px;"><label for="Ex_w">White Noise</label></td>
            <td style="padding-left:15px; padding-bottom: 10px;"><input type="radio" value="White" id="Ex_w" name="Excite"></td>
        </tr>
        <tr>
            <td style="padding-left:15px; padding-bottom: 10px;">Simulation Properties: </td>
            <td style="padding-left:15px; padding-bottom: 10px;">Total Time [s]</td>
            <td style="padding-left:15px; padding-bottom: 10px;"><label for="Time"></label><input type="number" class="input" maxlength="6" id="Time" name="Time" value="{{Defaults['T']}}" min="0" step=".1"></td>
            <td style="padding-left:15px; padding-bottom: 10px;">Sample Frequency [Hz]</td>
            <td style="padding-left:15px; padding-bottom: 10px;"><label for="SFreq"></label><input type="number" class="input" maxlength="6" id="SFreq" name="SFreq" value="{{Defaults['Sf']}}" min="0" step="0.1"></td>
        </tr>
    </table>

    <table style="padding-left: 20px; padding-bottom: 20px;">
        <!-- Determine Monte Carlo Parameters -->
        <tr>
            <td style="padding-left:15px; padding-bottom: 10px;">Simulated scenarios: </td>
            <td style="padding-left:15px; padding-bottom: 10px;"><label for="MC_1">1</label><br><input type="radio" value="1" id="MC_1" name="MC_samples"></td>
            <td style="padding-left:15px; padding-bottom: 10px;"><label for="MC_5">5</label><br><input type="radio" value="5" id="MC_5" name="MC_samples"></td>
            <td style="padding-left:15px; padding-bottom: 10px;"><label for="MC_15">15</label><br><input type="radio" value="15" id="MC_15" name="MC_samples"></td>
            <td style="padding-left:15px; padding-bottom: 10px;"><label for="MC_20">20</label><br><input type="radio" value="20" id="MC_20" name="MC_samples"></td>
            <td style="padding-left:15px; padding-bottom: 10px;"><label for="MC_30">30</label><br><input type="radio" value="30" id="MC_30" name="MC_samples"></td>
            <td style="padding-left:15px; padding-bottom: 10px;"><label for="MC_50">50</label><br><input type="radio" value="50" id="MC_50" name="MC_samples"></td>
            
        </tr>
    </table>

    <table style="padding-left: 20px; padding-bottom: 20px;">
        <!-- First storey -->
        <th>
            <td style="padding:15px;">Mass [kg]</td>
            <td style="padding:15px;">Stiffness [N/m]</td>
            <td style="padding:15px;">Damping [Ns/m]</td>
            <td style="padding:15px;">Initial disp. [m]</td>
            <td style="padding:15px;">Initial vel. [m/s]</td>
        </th>
        <tr>
            <td style="padding-left:15px;"> First storey: </td>
            <td style="padding-left:15px;"><label for="mass1"></label><input type="number" class="input" id="mass1" name="mass1" value="{{Defaults['M'][0]}}" min="0" step="any"></td>
            <td style="padding-left:15px;"><label for="stiff1"></label><input type="number" class="input" id="stiff1" name="stiff1" value="{{Defaults['K'][0]}}" min="0" step="any"></td>
            <td style="padding-left:15px;"><label for="damp1"></label><input type="number" class="input" id="damp1" name="damp1" value="{{Defaults['C'][0]}}" min="0" step="any"></td>
            <td style="padding-left:15px;"><label for="x1"></label><input type="number" class="input" id="x1" name="x1" value="{{Defaults['Ix'][0]}}" min="0" step="any"></td>
            <td style="padding-left:15px;"><label for="v1"></label><input type="number" class="input" id="v1" name="v1" value="{{Defaults['Iv'][0]}}" min="0" step="any"></td>
        </tr>
        <!-- Second storey -->
        <tr>
            <td style="padding-left:15px;">Second storey: </td>
            <td style="padding-left:15px;"><label for="mass2"></label><input type="number" class="input" id="mass2" name="mass2" value="{{Defaults['M'][1]}}" min="0" step="any"></td>
            <td style="padding-left:15px;"><label for="stiff2"></label><input type="number" class="input" id="stiff2" name="stiff1" value="{{Defaults['K'][1]}}" min="0" step="any"></td>
            <td style="padding-left:15px;"><label for="damp2"></label><input type="number" class="input" id="damp2" name="damp2" value="{{Defaults['C'][1]}}" min="0" step="any"></td>
            <td style="padding-left:15px;"><label for="x2"></label><input type="number" class="input" id="x2" name="x2" value="{{Defaults['Ix'][1]}}" min="0" step="any"></td>
            <td style="padding-left:15px;"><label for="v2"></label><input type="number" class="input" id="v2" name="v2" value="{{Defaults['Iv'][1]}}" min="0" step="any"></td>
        </tr>
        <!-- Third storey -->
        <tr>
            <td style="padding-left:15px;">Third storey: </td>
            <td style="padding-left:15px;"><label for="mass3"></label><input type="number" class="input" id="mass3" name="mass3" value="{{Defaults['M'][2]}}" min="0" step="any"></td>
            <td style="padding-left:15px;"><label for="stiff3"></label><input type="number" class="input" id="stiff3" name="stiff1" value="{{Defaults['K'][2]}}" min="0" step="any"></td>
            <td style="padding-left:15px;"><label for="damp3"></label><input type="number" class="input" id="damp3" name="damp3" value="{{Defaults['C'][2]}}" min="0" step="any"></td>
            <td style="padding-left:15px;"><label for="x3"></label><input type="number" class="input" id="x3" name="x3" value="{{Defaults['Ix'][2]}}" min="0" step="any"></td>
            <td style="padding-left:15px;"><label for="v3"></label><input type="number" class="input" id="v2" name="v2" value="{{Defaults['Iv'][2]}}" min="0" step="any"></td>
        </tr>
    </table>

    <p style="padding-left: 20px;"><input style="font-size:11pt;padding: 10px;margin: 10px;" type="submit" value="Recompute" /></p>


<div id="left" style="float:left; width:50%;">
    <div class="chart" id="areaplot1">
        <script>
            var graphs = {{timeplot | safe}};
            Plotly.plot('areaplot1', graphs, {});
        </script>
    </div>
</div>
<div id="right" style="float:right; width:50%;">
    <div class="chart" id="areaplot2">
        <script>
            var graphs = {{freqplot | safe}};
            Plotly.plot('areaplot2', graphs, {});
        </script>
    </div>
</div>
<!--    <canvas id="myChart" width="650" height="500"></canvas>-->
</div>

<div class="Clear" style="clear:both"></div>

</form>
{% block javascript %}
<script type="text/javascript" charset="utf-8">
    
function myFunction() {
  var x = document.getElementById("hideshow");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

if ("{{Defaults['Excite']}}" == "Hammer")
{
document.getElementById("Ex_h").checked = true;
}
if ("{{Defaults['Excite']}}" == "White")
{
document.getElementById("Ex_w").checked = true;
}
if ("{{Defaults['N']}}" === "1")
{
document.getElementById("MC_1").checked = true;
}
if ("{{Defaults['N']}}" === "5")
{
document.getElementById("MC_5").checked = true;
}
if ("{{Defaults['N']}}" === "15")
{
document.getElementById("MC_15").checked = true;
}
if ("{{Defaults['N']}}" === "20")
{
document.getElementById("MC_20").checked = true;
}
if ("{{Defaults['N']}}" === "30")
{
document.getElementById("MC_30").checked = true;
}
if ("{{Defaults['N']}}" === "50")
{
document.getElementById("MC_50").checked = true;
}
</script>
{% endblock %}
{% endblock %} <!-- end html block -->
