{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"></script>


<!-- <h2><button onclick="myFunction()" style="margin: 10px;">+</button>Hammer test simulator </h2> -->
<h2 style="padding-left: 15px;">Hammer test simulator </h2>

<form action="/simulator" method="POST" id="form">
    <div class="onepagecontainer">
    <table>
        <!-- Determine Excitiation -->
        <tr>
            <td style="width: 20px;">  </td>
            <td style="padding-left:15px;">Excitation: </td>
            <td style="padding-left:15px;"><label for="Ex_h">Impact Hammer</label><br><input type="radio" value="Hammer" id="Ex_h" name="Excite"></td>
            <td style="padding-left:15px;"><label for="Ex_w">White Noise</label><br><input type="radio" value="White" id="Ex_w" name="Excite"></td>
        </tr>
        <tr>
            <td style="width: 20px;">  </td>
            <td style="padding-left:15px;">Simulation Properties: </td>
            <td><label for="Time">Total Time [s] </label><input type="number" class="input" id="Time" name="Time" value="{{Defaults['T']}}" min="0" step="any"></td>
            <td><label for="SFreq">Sample Frequency [Hz]</label><input type="number" class="input" id="SFreq" name="SFreq" value="{{Defaults['Sf']}}" min="0" step="any"></td>
        </tr>
    </table>
    <table
        <!-- Determine Monte Carlo Parameters -->
        <tr>
            <td style="width: 20px;">  </td>
            <td style="padding-left:15px;">Simulated scenarios: </td>
            <td style="padding-left:15px;"><label for="MC_1">1</label><br><input type="radio" value="1" id="MC_1" name="MC_samples"></td>
            <td style="padding-left:15px;"><label for="MC_5">5</label><br><input type="radio" value="5" id="MC_5" name="MC_samples"></td>
            <td style="padding-left:15px;"><label for="MC_15">15</label><br><input type="radio" value="15" id="MC_15" name="MC_samples"></td>
            <td style="padding-left:15px;"><label for="MC_20">20</label><br><input type="radio" value="20" id="MC_20" name="MC_samples"></td>
            <td style="padding-left:15px;"><label for="MC_30">30</label><br><input type="radio" value="30" id="MC_30" name="MC_samples"></td>
            <td style="padding-left:15px;"><label for="MC_50">50</label><br><input type="radio" value="50" id="MC_50" name="MC_samples"></td>
            
        </tr>
    </table>
    <table>
        <!-- Determine Mass Values -->
        <tr>
            <td style="width: 20px;">  </td>
            <td style="padding-left:15px;">Mass Values [kg]: </td>
            <td><label for="mass1">First Storey</label><input type="number" class="input" id="mass1" name="mass1" value="{{Defaults['M'][0]}}" min="0" step="any"></td>
            <td><label for="mass2">Second Storey</label><input type="number" class="input" id="mass2" name="mass2" value="{{Defaults['M'][1]}}" min="0" step="any"></td>
            <td><label for="mass3">Third Storey</label><input type="number" class="input" id="mass3" name="mass3" value="{{Defaults['M'][2]}}" min="0" step="any"></td>
            <td><label for="massD">Mass Dispersion</label><input type="number" class="input" id="massD" name="massD" value="{{Defaults['Disp'][0]}}" min="0" step="any"></td>
        </tr>
        <!-- Determine Stiffness Values -->
        <tr>
            <td style="width: 20px;">  </td>
            <td style="padding-left:15px;">Stiffness Values [N/m]: </td>
            <td><label for="stiff1">Ground/First Storey</label><input type="number" class="input" id="stiff1" name="stiff1" value="{{Defaults['K'][0]}}" min="0" step="any"></td>
            <td><label for="stiff2">First/Second Storey</label><input type="number" class="input" id="stiff2" name="stiff2" value="{{Defaults['K'][1]}}" min="0" step="any"></td>
            <td><label for="stiff3">Second/Third Storey</label><input type="number" class="input" id="stiff3" name="stiff3" value="{{Defaults['K'][2]}}" min="0" step="any"></td>
            <td><label for="stiffD">Stiffness Dispersion</label><input type="number" class="input" id="stiffD" name="stiffD" value="{{Defaults['Disp'][1]}}" min="0" step="any"></td>
        </tr>
        <!-- Determine Damping Values -->
        <tr>
            <td style="width: 20px;">  </td>
            <td style="padding-left:15px;">Damping Values [Ns/m]: </td>
            <td><label for="damp1">Ground/First Storey</label><input type="number" class="input" id="damp1" name="damp1" value="{{Defaults['C'][0]}}" min="0" step="any"></td>
            <td><label for="damp2">First/Second Storey</label><input type="number" class="input" id="damp2" name="damp2" value="{{Defaults['C'][1]}}" min="0" step="any"></td>
            <td><label for="damp3">Second/Third Storey</label><input type="number" class="input" id="damp3" name="damp3" value="{{Defaults['C'][2]}}" min="0" step="any"></td>
            <td><label for="dampD">Damping Dispersion</label><input type="number" class="input" id="dampD" name="dampD" value="{{Defaults['Disp'][2]}}" min="0" step="any"></td>
        </tr>
        <!-- Initial Values -->
        <tr>
            <td style="width: 20px;">  </td>
            <td style="padding-left:15px;">Initial Displacement [m]: </td>
            <td><label for="x1">First Storey</label><input type="number" class="input" id="x1" name="x1" value="{{Defaults['Ix'][0]}}" min="0" step="any"></td>
            <td><label for="x2">Second Storey</label><input type="number" class="input" id="x2" name="x2" value="{{Defaults['Ix'][1]}}" min="0" step="any"></td>
            <td><label for="x3">Third Storey</label><input type="number" class="input" id="x3" name="x3" value="{{Defaults['Ix'][2]}}" min="0" step="any"></td>
            <td><label for="xD">Displacement Dispersion</label><input type="number" class="input" id="xD" name="xD" value="{{Defaults['D_init'][0]}}" min="0" step="any"></td>
        </tr>
        <tr>
            <td style="width: 20px;">  </td>
            <td style="padding-left:15px;">Initial Velocity [m/s]: </td>
            <td><label for="v1">First Storey</label><input type="number" class="input" id="v1" name="v1" value="{{Defaults['Iv'][0]}}" min="0" step="any"></td>
            <td><label for="v2">Second Storey</label><input type="number" class="input" id="v2" name="v2" value="{{Defaults['Iv'][1]}}" min="0" step="any"></td>
            <td><label for="v3">Third Storey</label><input type="number" class="input" id="v3" name="v3" value="{{Defaults['Iv'][2]}}" min="0" step="any"></td>
            <td><label for="vD">Velocity Dispersion</label><input type="number" class="input" id="vD" name="vD" value="{{Defaults['D_init'][1]}}" min="0" step="any"></td>
            <td><input style="font-size:14pt;padding: 10px;margin: 10px;" type="submit" value="Recompute" /></td>
        </tr>
    </table>

<div id="left" style="float:left; width:600;">
    <div class="chart" id="areaplot1">
        <script>
            var graphs = {{timeplot | safe}};
            Plotly.plot('areaplot1', graphs, {});
        </script>
    </div>
</div>
<div id="right" style="float:right; width:600;">
    <div class="chart" id="areaplot2">
        <script>
            var graphs = {{freqplot | safe}};
            Plotly.plot('areaplot2', graphs, {});
        </script>
    </div>
</div>
<!--    <canvas id="myChart" width="650" height="500"></canvas>-->
</div>

<div class="Clear" style="clear:both"></div>

</form>
{% block javascript %}
<script type="text/javascript" charset="utf-8">
    
function myFunction() {
  var x = document.getElementById("hideshow");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

if ("{{Defaults['Excite']}}" == "Hammer")
{
document.getElementById("Ex_h").checked = true;
}
if ("{{Defaults['Excite']}}" == "White")
{
document.getElementById("Ex_w").checked = true;
}
if ("{{Defaults['N']}}" === "1")
{
document.getElementById("MC_1").checked = true;
}
if ("{{Defaults['N']}}" === "5")
{
document.getElementById("MC_5").checked = true;
}
if ("{{Defaults['N']}}" === "15")
{
document.getElementById("MC_15").checked = true;
}
if ("{{Defaults['N']}}" === "20")
{
document.getElementById("MC_20").checked = true;
}
if ("{{Defaults['N']}}" === "30")
{
document.getElementById("MC_30").checked = true;
}
if ("{{Defaults['N']}}" === "50")
{
document.getElementById("MC_50").checked = true;
}
</script>
{% endblock %}
{% endblock %} <!-- end html block -->
