{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<!--<h1>Digital Twin Operational Platform (DTOP) for a three-storey structure</h1>-->
<p>
    Welcome to the Fisher information matrix page.
</p>
<h2>Case study: three-storey structure</h2>

<p>
    The Fisher information matrix is presented in this page, as well as the corresponding eigenvalues and eigenvectors at the bottom of this page.
<br>
    Press the buttons "Previous" or "Next" to move through the plots of the eigenvectors and the corresponding eigenvalues.

</p>

<div>
    <a href="Design_under_uncertainty_sensitivity"> Go to sensitivity analysis</a>
</div>
<br>
<div>
    <a href="Design_under_uncertainty_output"> Back to output distribution page</a>
</div>
<br>
<div>
    <a href="Design_under_uncertainty">Back to input data page</a>
</div>




<h3>Scaled Fisher Information Matrix</h3>




<div class="row">
    <div class="col-md-6">
        <div class="chart" id="scatter">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"></script>
            <script>
                var graphs = {{plot | safe}};
                Plotly.plot('scatter',graphs,{});
            </script>
        </div>

    </div>
</div>

<h3>Eigenvalues and eigenvectors </h3>
<form method=post action="" >
<div class="container">

        <input type="submit" name="1" value="<< Previous">
        <input type="submit" name="2" value="Next >>">
        <br />
</div>
</form>

<div class="row">
    <div class="col-md-6">
        <div class="chart" id="bar">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"></script>
            <script>
                var graphs = {{plot2 | safe}};
                Plotly.plot('bar',graphs,{});
            </script>
        </div>

    </div>
</div>

{% endblock %}
