html{
  width:100%;
  height:100%;
}
body{
  width:99%;
  min-width: 600px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #4d4dff;
  background-color: #f6f9fc;
}
h1 {font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif }


	/* Head banner team */
	.banner {
		text-align: center;
		/* width: ; */
	}
		

	/* styling sidebar */
	.sidehoverbar a {
		/* background-color: grey; */
		position: absolute;
		font-size: 16px;
		text-decoration: none;
		Color: white;
		padding: 10px;
    padding-left: 10px;
		border-radius: 0px 25px 25px 0px;
		left: -190px;
		transition: 0.5s;
		opacity: 0.5;
	}
		
	/* Hover effect on sidebar */
	.sidehoverbar a:hover {
		left: 0px;
		opacity: 1;
		background-color: #4CAF50;
	}
		
	/* float icons*/
	.sidehoverbar i {
		float: right;
	}
		
	/* definig position of each nav bar */
	.Home {
		top: 50px;
		width: 220px;
		height: 30px;
	}
		
	.Documentation {
		top: 110px;
		width: 220px;
		height: 30px;
	}
		
	.CAD {
		top: 170px;
		width: 220px;
		height: 30px;
	}
		
	.Design {
		top: 230px;
		width: 220px;
		height: 30px;
	}
		
	.Control {
		top: 290px;
		width: 220px;
		height: 30px;
	}

  .Uncertainty {
		top: 350px;
		width: 220px;
		height: 30px;
	}

  .FEA {
		top: 410px;
		width: 220px;
		height: 30px;
	}

  .NCBC {
		top: 470px;
		width: 220px;
		height: 30px;
	}

  .Crossval {
		top: 530px;
		width: 220px;
		height: 30px;
	}

  .LPMupdate {
		top: 590px;
		width: 220px;
		height: 30px;
	}
		
	/* content margin */
	/* .hoverable-topic {
		margin-left: 55px;
	} */





div.leftsidebar{
  width: 30px; 
  padding-left: 5px;
  float: left;
}
div.body{
  margin-left: 60px;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  left: 120%;
  opacity:0;
  /* visibility:hidden; */
  width: 30px;
  height: 20px;
  background-color: #b7bff7;
  text-align: left;
  transition: width .2s;
  /* Position the tooltip */
  position: absolute;
  z-index:1;
}
.tooltip:hover .tooltiptext {
  /* visibility: visible; */
  opacity:1;
  width: 300px;
  height: 20px;
  font-size:20px;
  padding: 3px;
  border-style: solid;
  border-color: #4d4dff;
  color: darkblue;
}
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 300;
  font-size:20px;
  background-color: #4d4dff;
  color: #fff;
  text-align: center;
  padding: 4px 0;
  position: absolute;
  z-index: 1;
  left: 110%;
}
/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}
/* Add animation (fade in the popup)
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} */
.fonticon:hover{
  color:tomato;
}
a:link {
  color: blue }
a:visited {
  color: blue } /* purple */
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
.footer {
  position: relative;
  left: 1;
  bottom: 0;
  width: 80%;
/*  background-color: #f6f9fc;*/
  color: #4d4dff;
  text-align: left;
}
.div1 {
  float: left;
  width: 50%;
}
.div2 {
  float: right;
  width: 45%;
}
.div3 {
  clear: both;
}

/* .sideicon{
  padding-bottom: 20px;
  padding-top: 20px;
}
.sideiconopen {
  z-index: 1;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #818181;
  overflow-x: hidden;
  transition: 0.5s;
}
.sideicon:hover{
  background-color:red;
} */

/* div.leftpanel{
  float:left;
  width:4%;
  padding-left:1em;
  margin:0px;
}
div.container{
  float:right;
  width:98%;
  height:100%;
  padding-left: 0em;
  padding-top: 0em;
  margin: 0;
} */
/* #sides{
  margin:0;
  }
  #left{
  float:left;
  width:5%;
  overflow:hidden;
  }
  #right{
  float:left;
  width:95%;
  overflow:hidden;
  }  */



/* ul.navbar {
  background: goldenrod;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 10em;
  left: 1em;
  width: 0em; 
  font-size: 18px;}
ul.navbar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
ul.navbar li {
  background: white;
  margin: 0.1em 0;
  padding: 0.2em;
  border-right: 1em solid white}
ul.navbar a {
  text-decoration: none }
  ul.navbar a:hover {
    color: rgb(220, 207, 233) } */

/* .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #818181;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #002d7b;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 8px;}
} */